.header-container {
  display: flex;
  align-items: center;
  padding-top: 73px;
  margin-bottom: 130px;
}
.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.logo {
  margin-right: 80px;
}
.nav-list {
  display: flex;
  gap: 40px;
}
.nav-link {
  font-family: "Livvic";
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  color: #fff;
}
.nav-link:hover {
  color: #f67e7e;
}
.nav-link:active {
  color: blue;
}
.header-btn {
  font-family: "Livvic";
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  color: #fff;
  border: 2px solid #fff;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-inline: 35px;
  background-color: transparent;
  border-radius: 22px;
}
.header-btn:hover {
  background-color: #fff;
  color: #014e56;
}
.margin {
  margin-right: 577px;
}
// ===============================================================//
